@use "helpers/mixns.scss";
.modal-content {
  @include mixns.display($display: none);
  margin-top: 100px;
  .main-img {
    @include mixns.position($position: relative);
    > {
      img {
        &:nth-child(1) {
          @include mixns.position(
            $position: absolute,
            $top: -30px,
            $right: 5px
          );
          filter: brightness(0) invert(1);
          cursor: pointer;
        }
        &:nth-child(2) {
          width: 375px;
          height: 375px;
          border-radius: 10px;
        }
      }
      div {
        @include mixns.display(
          $display: flex,
          $align: center,
          $justify: center
        );
        @include mixns.position($position: absolute, $top: 50%);
        transform: translateY((-50%));
        background-color: var(--white);
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        > img {
          width: 8.5px;
        }
      }
      .previous {
        left: -20px;
      }
      .next {
        right: -20px;
      }
    }
  }
  .thumbs {
    margin-top: 15px;
    > img {
      width: 50px;
      border-radius: 5px;
      width: 60px;
      border-radius: 5px;
      margin-inline: 5px;
      &.selected {
        border: solid 4px #e68437;
        opacity: 0.5;
      }
      &:hover {
        opacity: 0.2;
      }
    }
  }
}
