@use "helpers/mixns.scss";
/************************************************* Start light box *************************************************/
.light-box {
  img {
    max-width: 100%;
  }
  .slider {
    @include mixns.display($display: flex);
    @include mixns.position($position: relative);
    overflow: hidden;
    width: 375px;
    height: 375px;
    > {
      img {
        @include mixns.position($position: absolute, $z-index: 1);
        opacity: 0;
        margin-top: -40px;
        cursor: pointer;
        transition: 0.5s;
        &.selected {
          opacity: 1;
        }
      }
      div {
        @include mixns.display(
          $display: flex,
          $align: center,
          $justify: center
        );
        @include mixns.position($position: absolute, $top: 50%, $z-index: 2);
        transform: translateY((-50%));
        background-color: var(--white);
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 50%;
        > img {
          width: 8.5px;
          &:hover {
            filter: invert(76%) sepia(23%) saturate(5609%) hue-rotate(332deg)
              brightness(91%) contrast(97%);
          }
        }
      }
      .previous {
        left: 20px;
      }
      .next {
        right: 20px;
      }
    }
  }
  .thumbnails {
    @include mixns.display($display: none);
  }
}
/************ Start Media Query ************/
@include mixns.mediaBreakpoints($min-width: "min-width:1440px") {
  .light-box {
    .thumbnails {
      @include mixns.display(
        $display: flex !important,
        $align: center,
        $justify: space-between
      );
      margin-top: 30px;
      > img {
        width: 80px;
        border-radius: 10px;
        cursor: pointer;
        &.selected {
          border: solid 2px #e68437;
          opacity: 0.5;
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
