@use "helpers/mixns";
/************************************************* Start Product data *************************************************/
.product-data {
  padding: 20px;
  h1 {
    color: var(--orange);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
  }
  h2 {
    color: var(--very-dark-blue);
    font-size: 24px;
    width: 300px;
    letter-spacing: 1.8px;
  }
  p {
    color: var(--dark-grayish-blue);
    line-height: 1.6;
    font-size: 14px;
  }
  .price {
    @include mixns.display($display: flex, $align: center);
    @include mixns.position($position: relative);
    margin: 25px 0;
    > {
      span {
        @include mixns.display($display: inline-block);
        margin-right: 25px;
        text-align: center;
        &:nth-child(1) {
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 1.8px;
        }
        &:nth-child(2) {
          background-color: rgba(255, 125, 26, 0.1);
          @include mixns.position($position: relative, $z-index: 1);
          color: var(--orange);
          padding: 6px;
          border-radius: 5px;
          font-weight: bold;
        }
        &:nth-child(3) {
          text-align: right;
          flex: 1;
          text-decoration: line-through;
          color: var(--grayish-blue);
        }
      }
    }
  }
  .add-cart {
    padding-bottom: 40px;
    .plus-minus {
      @include mixns.display(
        $display: flex,
        $align: center,
        $justify: space-between
      );
      padding: 20px;
      background-color: var(--light-grayish-blue);
      border-radius: 10px;
      margin-bottom: 20px;
      img {
        cursor: pointer;
      }
      span {
        font-weight: bold;
      }
    }
    .add-btn {
      @include mixns.position($position: relative);
      img {
        @include mixns.position($position: absolute, $top: 17px, $left: 85px);
        filter: brightness(0) invert(1);
      }
      button {
        width: 100%;
        border: none;
        padding: 20px;
        border-radius: 10px;
        letter-spacing: 1.7px;
        background-color: var(--orange);
        color: var(--white);
        box-shadow: 0 7px 20px 5px rgb(255 125 26 / 30%);
        cursor: pointer;
      }
    }
  }
}
/************ Start Media Query ************/
@include mixns.mediaBreakpoints($min-width: "min-width:1440px") {
  .container {
    @include mixns.display(
      $display: flex,
      $align: center,
      $justify: space-around
    );
    padding-inline: 120px;
    padding-top: 100px;
    .product-data {
      width: 40vw;
    }
    .product-data {
      h2 {
        font-size: 40px;
        width: 34vw;
      }
    }
    .slider {
      img {
        border-radius: 10px;
        margin-top: 0;
      }
      .previous,
      .next {
        @include mixns.display($display: none);
      }
    }
    .price {
      @include mixns.display($display: inline-block);
      > span:last-child {
        @include mixns.display($display: block);
        text-align: left;
      }
    }
    .add-cart {
      @include mixns.display(
        $display: flex !important,
        $align: center,
        $justify: space-between
      );
      > {
        div:first-child {
          flex-basis: 35%;
          margin-bottom: 0;
          > img:hover {
            opacity: 0.5;
          }
        }
        div:last-child {
          flex-basis: 60%;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
